<form class="mt-4" method="POST" action="/courses/{{course._id}}?_method=PUT">
  <h3>Sửa khóa học</h3>

  <div class="mb-3">
    <label for="name" class="form-label">Tên khóa học</label>
    <input type="text" name="name" value="{{course.name}}" class="form-control" id="name" />
  </div>

  <div class="mb-3">
    <label for="desc" class="form-label">Mô tả</label>
    <textarea name="description" class="form-control" id="desc">{{course.description}}</textarea>
  </div>

  <div class="mb-3">
    <label for="videoId" class="form-label">Video ID</label>
    <input type="text" name="videoId" value="{{course.videoId}}" class="form-control" id="videoId" />
  </div>

  <div class="mb-3">
    <button type="submit" class="btn btn-primary">Sửa khóa học</button>
  </div>
</form>